#admScreen {
    min-width: 350px;
    width: 100%;
    height: 100%;
    min-height: 90vh;
}

.report-style {
    width: 80%;

    margin: 50px auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#carrinho-main {
    flex-direction: column;
}


.report-style a {
    width: auto;
}

.report-style a:link, .report-style a:visited {
    width: 40%;

    padding: 10px 0;

    text-align: center;
    text-decoration: none;

    border-radius: 20px;

    color: white;
    background-color: #239273;
}

.report-style a:hover, .report-style a:active {
    background-color: #4ec07d;
}

.user {
    width: auto;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;
}

.userBook {
    height: auto;
}

.user ul {
    width: auto;
    height: auto;

    padding: 5px 0;

    align-items: center;

    border: 1px solid black;
    border-radius: 10px;
}

.user li {
    width: auto;

    padding: 0 10px;

    border-right: 1px solid var(--shadow-color);
}

.user li .user h4, .user a, .user p, .user figure, .user svg {
    display: flex;

    align-items: center;
    justify-content: center;

    text-align: center;
}

.user li svg {
    margin-left: auto;
    margin-right: auto;

    vertical-align: middle;
}

.user li:last-child {
    border: 0;
}

.book-container-adm {
    margin: 0;

    opacity: 0.5;

    color: white;

    transition: opacity 200ms;
}

.book-container-adm:hover{
    opacity: 1;
}

.user .user-btn {
    width: 80%;
    padding: 5px;

    margin: 0;
}

.cardadm {
    width: 80%;
    height: auto;

    padding: 30px 50px;
    margin: 50px auto;

    border:2px solid var(--main-color) ;
    border-radius: 20px;
    box-shadow: 0 4px 4px var(--shadow-color);
}

.gridColumn {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: 50px;

    justify-items: center;
}

.textfieldAdm {
    min-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.checkbox {
    width: 100%;
    height: 100%;

    margin: 20px auto;
}

.checkbox h5 {
    font-size: 1em;
    text-align: center;

    margin-bottom: 20px;
}

.generos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    row-gap: 5px;
}

.generos li {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.generos li label {
    font-size: 1rem;
}

.generos li input {
    display: grid;
    place-content: center;

    appearance: none;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.generos li input::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 5px;
    transform: scale(0);
    transition: 100ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--active-color);
  }
  
.generos li input:checked::before {
    transform: scale(1);
}

/*.generos li input:checked { background-color: var(--active-color); }*/

.textfieldAdm textarea {
    padding: 10px;
    width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid var(--main-color);
}

summary {
    list-style: none;
    cursor: pointer;
}

details[open] summary h2 {
    text-align: left;
}

@media (max-width: 1060px) {
    .gridColumn {
        width: 100%;
    
        display: grid;
        grid-template-columns: 1fr;
    
        justify-items: center;
    }

}

@media (max-width: 700px) {
    .cardadm {
        width: 100%;
    }

    .report-style {
        width: 100%;
    }

    .user ul {
        flex-wrap: wrap;

        padding: 20px 0;
    }

    .user li {
        border: none;
    }
    
    .user svg {
        display: none;
    }
}