#carrinho-main {
    min-height: 90vh;
}

.quantTotal {
    width: 90%;

    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 4px var(--shadow-color);

    justify-content: space-evenly;

    background-color: white;
}

.button-finalizar {
    width: 95%;

    margin: 50px 0;
}

.button-finalizar button {
    padding: 15px;
}


.button-finalizar button {
    font-size: 16px;
    font-weight: bold;

    color: white;
    background-color: var(--positive-color);

    border:2px solid transparent;
    border-radius: 30px;
}

.button-finalizar button:hover { background-color: var(--hover-color); }

.button-finalizar button:active { background-color: var(--active-color); }

.button-finalizar button:focus { background-color: var(--active-color); }

@media (max-width: 600px) {
    .quantTotal {
        width: 100%;
    
        padding: 20px 0px;
        border-radius: 0;
        box-shadow: 0 4px 4px var(--shadow-color);
    }
}