#main-slider {
    width: 100%;
    height: 70vh;

    justify-content: space-between;
}
/*STYLE DO FUNDO VERDE*/
#limit-home { 
    width: 100%;
    height: 50%;

    position: absolute;

    top: 5vh;
    left: 0;

    z-index: -1;
}
/*FIM STYLE DO FUNDO VERDE*/

/*STYLE DAS SETAS DO SLIDER PRINCIPAL*/
#main-slider > #arrow-right, 
#arrow-left {
    width: 25px;
    height: 100%;

    justify-content: flex-start;

    cursor: pointer;
}

#main-slider > #arrow-right:hover, 
#arrow-left:hover {
    background-color: var(--shadow-color);
}

#main-slider > #arrow-left svg path, 
#arrow-right svg path {
    fill: #fff; 
}

#arrow-right svg {
    transform: rotate(180deg);
}
/*FIM DO STYLE DAS SETAS DO SLIDER PRINCIPAL*/

/*STYLE DO CONTEUDO DO SLIDER PRINCIPAL*/
.main-slider-content {
    width: 90%;
    height: 90%;
}

.c_carousel_slides {
    width: 900px;
    height: 90%;

    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;

    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;

    visibility: hidden;
    clip-path: inset(50% 0 50% 0);

}

.current-item {
    visibility: visible;
    clip-path: inset(0 0 0 0);

    transition: clip-path 0.5s ease-in-out;
}

.main-slider-content .main-slider-img {
    width: 30%;
}

.main-slider-content .main-slider-img img {
    width: 100%;
    height: 100%;
}

.main-slider-conteudo {
    width: 50%;
    height: 90%;

    flex-direction: column;

    align-items: flex-start;
    justify-content: space-evenly;
}

.main-slider-content .main-slider-title { color: #fff; }

.main-slider-content .main-slider-text {
    width: 70%;
    height: 100px;

    overflow-y: scroll;

    color: var(--cinza-color);

    grid-area: text;

    align-items: center;
    justify-items: start;
}

.main-slider-content .main-slider-text::-webkit-scrollbar {
    width: 5px;               
}
  
.main-slider-content .main-slider-text::-webkit-scrollbar-track {
    background: transparent;        
}
  
.main-slider-content .main-slider-text::-webkit-scrollbar-thumb {
    background-color: var(--cinza-color);  

    border-radius: 20px;      
}
/*FIM DO STYLE DO CONTEUDO DO SLIDER PRINCIPAL*/

/*STYLE DO BOTÃO PARA BAIXO*/
#arrow_bottom {
    width: 50px;

    margin: 0 auto;

    vertical-align: middle;
}

#arrow_bottom a, 
#arrow_bottom svg {
    position: relative;

    animation: sobeDesce 1s infinite alternate;
}

#arrow_bottom a:hover svg path {
    fill: var(--active-color);
}

@keyframes sobeDesce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(5px);
    }
}

/*FIM DO STYLE DO BOTÃO PARA BAIXO*/