.tela {
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    column-gap: 12px;
    row-gap: 50px;
}

/* POST 1 */
.post-limit {
    display: grid;
    width: 40%;
    height: 200px;

    background-color: white;

    padding: 20px 20px;

    grid-template-areas: 
    "title    image"
    "autor image"
    "resume image"
    "buttons image";

    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
    column-gap: 50px;

    box-shadow: 0px 2px 2px var(--shadow-color);

    border-radius: 10px;
}

.post-title {
    grid-area: title;
}

.post-autor {
    grid-area: autor;
}

.post-resume  {
    grid-area: resume;

    height: 80%;

    margin-top: 10px;

    border-bottom: 1px solid var(--shadow-color);
    
    overflow-y: auto;
}

.post-buttons {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    grid-area: buttons;
}


.post-buttons .button-buy {
    width: 44%;
}

.post-buttons .button-add {
    width: 44%;
}

.post-buttons .button-add button {
    padding: 0;
}

.post-image  {
    grid-area: image;

    display: flex;
    justify-content: center;
    align-items: center;
}

.post-image img {
    height: 100%;
}
/* FIM DO POST 1 */

/* POST 2 */
.post2-limit {
    width: 90%;
    height: 200px;

    margin: 10px 0;

    display: grid;
    grid-template-columns: .5fr 150px 2fr .5fr;
    grid-template-rows: 200px;

    box-shadow: 0px 2px 2px var(--shadow-color);

    border-radius: 10px;

    background-color: white;
}

.post2-remove { 
    border-right: 1px solid black; 
    border-color: var(--main-color);
}

.post2-add {
    border-left: 1px solid black;   
}

.post2-image { 

    border-color: var(--main-color);
}

.post2-title-autor {  
    padding: 20px 0; 
    border-color: var(--main-color);
}

.post2-add a, .post2-remove a {
    width: 100%;
    height: 100%;
}

.post2-title-autor a, .post2-title-autor p {
    height: auto;
}

.post2-title-autor hr {
    width: 50%;
    margin-bottom: 20px;
}

.post2-add svg path, .post2-remove svg path { opacity: .5; }

.post2-add a:hover svg path, .post2-remove a:hover svg path { opacity: 1; }

.post2-image img { width: 80%; }


/* FIM DO POST 2 */

@media (max-width: 999px) {
    .post-limit {
        width: 80%;
        column-gap: 20px;
    }

    .post2-title-autor h3, p { font-size: 80%; }
}

@media (max-width: 500px) {
    .post2-image img { width: 70%; }

    .post2-title-autor h3, p { font-size: 70%; }

    .post-limit, .post2-limit {
        width: 100%;
        column-gap: 10px;

        border-radius: 0;
    }
}