body::-webkit-scrollbar {
    width: 10px;               
}
  
body::-webkit-scrollbar-track {
    background: var(--back-load);        
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);  

    border-radius: 20px;      
    border: 3px solid var(--back-load);  
}

.post-resume::-webkit-scrollbar {
    width: 5px;              
}
  
.post-resume::-webkit-scrollbar-track {
    background: transparent;         
}
  
.post-resume::-webkit-scrollbar-thumb {
    background-color: var(--cinza-color);  

    border-radius: 20px;   
}

textarea::-webkit-scrollbar {
    width: 5px;               
}
  
textarea::-webkit-scrollbar-track {
    background: transparent;          
}
  
textarea::-webkit-scrollbar-thumb {
    background-color: var(--cinza-color);  

    border-radius: 20px;   
}

.other-slider-limit::-webkit-scrollbar {  
    height: 7px;             
}
  
.other-slider-limit::-webkit-scrollbar-track {
    background: var(--back-load);   
    border-radius: 5px;     
}
  
.other-slider-limit::-webkit-scrollbar-thumb {
    background-color: var(--main-color);  

    border-radius: 5px;      
    border: 1px solid var(--back-load);  
}