    <footer>
        <p>© Copyright Livraria saber</p>

        <div id="social_media">
            <a class="flex-center" href = "https://www.facebook.com/FaculdadeAdventista" target="_BLANK">
                <svg width="39" height="70" viewBox="0 0 39 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M35.8506 39.3728L37.7952 26.705H25.6393V18.4844C25.6393 15.0194 27.3368 11.6397 32.7815 11.6397H38.3071V0.855313C38.3071 0.855313 33.2934 0 28.4984 0C18.4884 0 11.9456 6.06813 11.9456 17.0516V26.7072H0.817749V39.375H11.9456V70H25.6393V39.375L35.8506 39.3728Z" fill="white"/>
                </svg>
            </a>

            <a class="flex-center" href = "https://www.instagram.com/faculdadeadventista/" target="_BLANK">
                <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M30.8177 0C22.6624 0 21.646 0.0393799 18.4543 0.174397C15.2496 0.331916 13.0818 0.828854 11.169 1.57145C9.1963 2.34404 7.51609 3.3698 5.8565 5.03875C4.18567 6.69834 3.15054 8.37855 2.3892 10.3513C1.6466 12.264 1.14967 14.4318 0.992146 17.6366C0.847753 20.8301 0.817749 21.8446 0.817749 30C0.817749 38.1554 0.857129 39.1718 0.992146 42.3634C1.14967 45.5588 1.6466 47.736 2.3892 49.6487C3.16179 51.6215 4.18754 53.3017 5.8565 54.9612C7.51609 56.6321 9.1963 57.6672 11.169 58.4286C13.0818 59.1618 15.2589 59.6681 18.4543 59.8256C21.6479 59.97 22.6624 60 30.8177 60C38.9731 60 39.9895 59.9606 43.1812 59.8256C46.3766 59.6681 48.5537 59.1599 50.4664 58.4286C52.4392 57.656 54.1194 56.6302 55.779 54.9612C57.4498 53.3017 58.485 51.6308 59.2463 49.6487C59.9795 47.736 60.4858 45.5588 60.6433 42.3634C60.7877 39.1699 60.8177 38.1554 60.8177 30C60.8177 21.8446 60.7784 20.8282 60.6433 17.6366C60.4858 14.4412 59.9776 12.2528 59.2463 10.3513C58.4737 8.37855 57.4479 6.69834 55.779 5.03875C54.1194 3.36792 52.4486 2.33279 50.4664 1.57145C48.5537 0.828854 46.3766 0.331916 43.1812 0.174397C39.9876 0.0300038 38.9731 0 30.8177 0V0ZM30.8177 5.40068C38.8269 5.40068 39.7832 5.44005 42.9486 5.57507C45.8684 5.71196 47.4586 6.19952 48.5143 6.61208C49.9226 7.15777 50.9071 7.80285 51.9723 8.85673C53.0168 9.90124 53.6618 10.897 54.2075 12.3053C54.6201 13.361 55.1077 14.9512 55.2445 17.871C55.3796 21.0364 55.4189 21.9946 55.4189 30.0019C55.4189 38.0091 55.3796 38.9674 55.2333 42.1328C55.0758 45.0525 54.5882 46.6427 54.1775 47.6985C53.6093 49.1068 52.9755 50.0913 51.9291 51.1564C50.8734 52.2009 49.8682 52.846 48.4712 53.3917C47.4286 53.8042 45.8159 54.2918 42.8849 54.4287C39.7026 54.5637 38.765 54.6031 30.7352 54.6031C22.7055 54.6031 21.7697 54.5637 18.5837 54.4174C15.664 54.2599 14.0532 53.7723 12.9974 53.3617C11.5722 52.7935 10.5952 52.1596 9.54884 51.1133C8.49308 50.0575 7.82175 49.0524 7.30418 47.6553C6.88413 46.6127 6.40407 45 6.24843 42.069C6.14154 38.9242 6.09091 37.9491 6.09091 29.9569C6.09091 21.9684 6.14154 20.9914 6.24843 17.8072C6.40407 14.8762 6.88413 13.2673 7.30418 12.2209C7.82175 10.7938 8.49496 9.81873 9.54884 8.76297C10.5933 7.71846 11.5722 7.04338 12.9974 6.51456C14.0532 6.10389 15.6246 5.61633 18.5556 5.47006C21.7379 5.35567 22.6755 5.31441 30.694 5.31441L30.8177 5.40068ZM30.8177 14.6025C22.3023 14.6025 15.4164 21.4977 15.4164 30.0037C15.4164 38.5192 22.3117 45.405 30.8177 45.405C39.3332 45.405 46.219 38.5098 46.219 30.0037C46.219 21.4883 39.3238 14.6025 30.8177 14.6025ZM30.8177 40.0044C25.2896 40.0044 20.8171 35.5319 20.8171 30.0037C20.8171 24.4756 25.2896 20.0031 30.8177 20.0031C36.3459 20.0031 40.8184 24.4756 40.8184 30.0037C40.8184 35.5319 36.3459 40.0044 30.8177 40.0044ZM50.4402 13.9874C50.4402 15.9807 48.8181 17.5897 46.8341 17.5897C44.8407 17.5897 43.2318 15.9789 43.2318 13.9874C43.2318 12.0053 44.852 10.3925 46.8341 10.3925C48.8162 10.3925 50.4402 12.0053 50.4402 13.9874Z" fill="white"/>
                </svg>
            </a>

            <a class="flex-center" href = "https://twitter.com/fac_adventista" target="_BLANK">
                <svg width="74" height="60" viewBox="0 0 74 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M73.6771 7.14879C70.9619 8.3391 68.0554 9.15802 64.9919 9.52941C68.1177 7.65398 70.5075 4.68743 71.6471 1.1534C68.7151 2.86044 65.4717 4.09689 62.0231 4.79585C59.2734 1.85236 55.3426 0 50.9804 0C42.6182 0 35.8408 6.77509 35.8408 15.1257C35.8408 16.3276 35.9862 17.481 36.2376 18.5744C23.6586 17.9862 12.5075 11.9423 5.0496 2.812C3.73933 5.03576 2.99423 7.61938 2.99423 10.4314C2.99423 15.6932 5.67243 20.3068 9.72088 23.0196C7.24567 22.9481 4.9158 22.263 2.87428 21.135V21.3172C2.87428 28.6551 8.08766 34.7728 15.0081 36.1661C13.7463 36.5006 12.3991 36.6943 11.0311 36.6943C10.06 36.6943 9.13264 36.5998 8.20761 36.4291C10.1546 42.436 15.7278 46.8097 22.3714 46.9412C17.2065 50.9896 10.6597 53.4025 3.60554 53.4025C2.40369 53.4025 1.20415 53.3449 0 53.1995C6.72895 57.4902 14.6713 60 23.2503 60C51.0865 60 66.2976 36.9435 66.2976 16.9758C66.2976 16.3391 66.2976 15.6909 66.2491 15.0404C69.218 12.925 71.7878 10.2445 73.8178 7.20646L73.6771 7.14879Z" fill="white"/>
                </svg>
            </a>
        </div>
    </footer>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
      <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
      <script> new window.VLibras.Widget('https://vlibras.gov.br/app');</script>
</div>
<script src="/assets/js/bundle.js"></script>
</body>
</html>