<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title><%- title%></title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/"><img src="/assets/images/logo.png" alt="logo do site"></a></li>
        </ul>
        <ul>
            <li><a href="/"><img src="/assets/images/search.png" alt="imagem de uma lupa"></a></li>
            <li><a href="/"><img src="/assets/images/car.png" alt="imagem de um carrinho de compra"></a></li>
            <li><a href="/"><img src="/assets/images/person.png" alt="imagem de uma pessoa"></a></li>
        </ul>
    </nav>