<header>
    <nav id="navegacao">
        <!--LOGO-->
        <div id="logo">
            <a href="/"><img src="/assets/images/logo.png" alt="logo do site"></a>
        </div>

        <!--MENU MOBILE-->
        <div id="mobile_menu">
            <button aria-label="menu">
                <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="30px" height="30px">
                    <path d="M 3 7 A 1.0001 1.0001 0 1 0 3 9 L 27 9 A 1.0001 1.0001 0 1 0 27 7 L 3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16 L 27 16 A 1.0001 1.0001 0 1 0 27 14 L 3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23 L 27 23 A 1.0001 1.0001 0 1 0 27 21 L 3 21 z"/>
                </svg>
            </button>
        </div>

        <!--MENU PC-->
        <div id="options">
            <div id="search">
                <button aria-label="search button">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="1px"
                    viewBox="0 0 490 490" xml:space="preserve">
                        <path d="M0,203.25c0,112.1,91.2,203.2,203.2,203.2c51.6,0,98.8-19.4,134.7-51.2l129.5,129.5c2.4,2.4,5.5,3.6,8.7,3.6
                        s6.3-1.2,8.7-3.6c4.8-4.8,4.8-12.5,0-17.3l-129.6-129.5c31.8-35.9,51.2-83,51.2-134.7c0-112.1-91.2-203.2-203.2-203.2
                        S0,91.15,0,203.25z M381.9,203.25c0,98.5-80.2,178.7-178.7,178.7s-178.7-80.2-178.7-178.7s80.2-178.7,178.7-178.7
                        S381.9,104.65,381.9,203.25z"/>
                    </svg>
                </button>
            </div>
            <div id="car">
                <button href="/carinho/index" onclick="location.href = '/Carrinho';">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                viewBox="0 0 60 60" enable-background="new 0 0 64 64" xml:space="preserve">
                        <path d="M11.68,13l-0.833-5h-2.99C7.411,6.28,5.859,5,4,5C1.794,5,0,6.794,0,9s1.794,4,4,4c1.859,0,3.411-1.28,3.858-3h1.294l0.5,3
                        H9.614l5.171,26.016c-2.465,0.188-4.518,2.086-4.76,4.474c-0.142,1.405,0.32,2.812,1.268,3.858C12.242,48.397,13.594,49,15,49h2
                        c0,3.309,2.691,6,6,6s6-2.691,6-6h11c0,3.309,2.691,6,6,6s6-2.691,6-6h4c0.553,0,1-0.447,1-1s-0.447-1-1-1h-4.35
                        c-0.826-2.327-3.043-4-5.65-4s-4.824,1.673-5.65,4h-11.7c-0.826-2.327-3.043-4-5.65-4s-4.824,1.673-5.65,4H15
                        c-0.842,0-1.652-0.362-2.224-0.993c-0.577-0.639-0.848-1.461-0.761-2.316c0.152-1.509,1.546-2.69,3.173-2.69h0.791
                        c0.014,0,0.025,0,0.039,0h38.994C57.763,41,60,38.763,60,36.013V13H11.68z M4,11c-1.103,0-2-0.897-2-2s0.897-2,2-2s2,0.897,2,2
                        S5.103,11,4,11z M46,45c2.206,0,4,1.794,4,4s-1.794,4-4,4s-4-1.794-4-4S43.794,45,46,45z M23,45c2.206,0,4,1.794,4,4s-1.794,4-4,4
                        s-4-1.794-4-4S20.794,45,23,45z M58,36.013C58,37.66,56.66,39,55.013,39H16.821l-4.77-24H58V36.013z"/>
                    </svg>
                </button>
            </div>
            <div id="person">
                <!-- USUARIO NÃO LOGADO -->
                <%if(!user) {%>
                <button type="button" aria-label="account" onclick="location.href = '/LoginOrSignUp';">
                    <svg viewBox="0 0 49 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.5 23.98C28.354 23.98 31.5 20.832 31.5 16.9133C31.5 12.9946 28.354 9.84668 24.5 9.84668C20.646 9.84668 17.5 12.9946 17.5 16.9133C17.5 20.832 20.646 23.98 24.5 23.98ZM33.5 16.9133C33.5 21.9227 29.4725 25.98 24.5 25.98C19.5275 25.98 15.5 21.9227 15.5 16.9133C15.5 11.904 19.5275 7.84668 24.5 7.84668C29.4725 7.84668 33.5 11.904 33.5 16.9133Z" fill="#333333"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.6254 29.7991C18.3971 29.3313 17.8814 29.0785 17.3786 29.2021C11.9745 30.5301 6.5 33.238 6.5 37.3116V39.845C6.5 40.9495 7.39543 41.845 8.5 41.845H40.5C41.6046 41.845 42.5 40.9495 42.5 39.845V37.3116C42.5 33.238 37.0255 30.5301 31.6214 29.2021C31.1186 29.0785 30.6029 29.3313 30.3746 29.7991L26.3105 32.7991C25.4218 32.7993 24.9693 32.7993 24.5248 32.7993C24.0637 32.7992 23.6112 32.7992 22.6893 32.7994L18.6254 29.7991ZM31.7205 31.2915L26.9689 34.799L26.3109 34.7991C25.4163 34.7993 24.9661 34.7993 24.524 34.7993C24.0658 34.7992 23.6163 34.7992 22.6898 34.7994L22.0312 34.7996L17.2795 31.2915C14.9077 31.9204 12.6639 32.8054 11.0162 33.8953C9.19262 35.1016 8.5 36.2704 8.5 37.3116V39.845H40.5V37.3116C40.5 36.2704 39.8074 35.1016 37.9838 33.8953C36.3361 32.8054 34.0924 31.9204 31.7205 31.2915Z" fill="#333333"/>
                    </svg>
                </button>
                <%} else {%>
                    <button type="button" aria-label="logout" onclick="location.href = '/Logout';">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 60 60" enable-background="new 0 0 64 64" xml:space="preserve">
                            <path d="M52.4501991,28.7678509l-5-4.9990005c-0.3768997-0.3770008-0.9902-0.3770008-1.3671989,0
                                c-0.3778992,0.3778992-0.3778992,0.9902,0,1.3671989l3.3171997,3.3164005H35.2666016v2h14.1320992l-3.3157005,3.3163986
                                c-0.3778992,0.377903-0.3778992,0.9902,0,1.3672028c0.1884995,0.1884995,0.4365997,0.2831993,0.6835976,0.2831993
                                c0.2471008,0,0.4951019-0.0946999,0.6836014-0.2831993l5-5.0010014c0.1817017-0.1816006,0.2831993-0.4277,0.2831993-0.6835995
                                C52.7333984,29.1946507,52.6319008,28.9495506,52.4501991,28.7678509z"/>
                            <path d="M40.2666016,39.4524498c-0.5527,0-1,0.4473-1,1v10.7900009c0,1.0429993-0.8310013,2.2099991-1.9433022,2.2099991
                                h-6.0566998V11.2394505V9.8677502L30.0191994,9.33395L14.0765009,2.56445l-0.2606955-0.112h23.507494
                                c1.2168007,0,1.9433022,0.9921999,1.9433022,1.9511998v15.0487995c0,0.5527,0.4473,1,1,1c0.5527992,0,1-0.4473,1-1V4.4036498
                                c0-2.1786997-1.7685013-3.9511998-3.9433022-3.9511998H12.2666006c-0.5215998,0-0.9358997,0.4029-0.9822998,0.9124
                                L11.2666006,1.35725V1.45245V55.03405l17.1855011,7.3064003l2.8144989,1.2070999v-3.0951004v-5h6.0566998
                                c2.3584023,0,3.9433022-2.1767998,3.9433022-4.2099991V40.4524498
                                C41.2666016,39.8997498,40.8194008,39.4524498,40.2666016,39.4524498z M29.2665997,11.2394505v49.2129974l-15.999999-6.7766991
                                V4.4524498l15.9906988,6.7728004l0.0093002,0.0038996V11.2394505z"/>
                        </svg>
                    </button>
                <%}%>
            </div>                    
        </div>
    </nav>
</header>