<header>
    <nav id="navegacao">
        <!--LOGO-->
        <div id="logo">
            <a href="/"><img src="/assets/images/logo.png" alt="logo do site"></a>
        </div>

        <!--MENU MOBILE-->
        <div id="mobile_menu">
            <button aria-label="menu">
                <svg fill="#000000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="30px" height="30px">
                    <path d="M 3 7 A 1.0001 1.0001 0 1 0 3 9 L 27 9 A 1.0001 1.0001 0 1 0 27 7 L 3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16 L 27 16 A 1.0001 1.0001 0 1 0 27 14 L 3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23 L 27 23 A 1.0001 1.0001 0 1 0 27 21 L 3 21 z"/>
                </svg>
            </button>
        </div>

        <!--MENU PC-->
        <div id="options">
            <div id="search">
                <button aria-label="search button">
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M43.1458 40.1875L36.0625 33.125C38.3479 30.2135 39.5879 26.618 39.5833 22.9167C39.5833 19.6203 38.6059 16.398 36.7745 13.6572C34.9431 10.9164 32.3402 8.78014 29.2947 7.51868C26.2493 6.25722 22.8982 5.92717 19.6652 6.57025C16.4322 7.21334 13.4624 8.80069 11.1316 11.1316C8.80069 13.4624 7.21334 16.4322 6.57025 19.6652C5.92717 22.8982 6.25722 26.2493 7.51868 29.2947C8.78014 32.3402 10.9164 34.9431 13.6572 36.7745C16.398 38.6059 19.6203 39.5833 22.9167 39.5833C26.618 39.5879 30.2135 38.3479 33.125 36.0625L40.1875 43.1458C40.3812 43.3411 40.6116 43.4961 40.8655 43.6019C41.1194 43.7076 41.3917 43.7621 41.6667 43.7621C41.9417 43.7621 42.214 43.7076 42.4679 43.6019C42.7218 43.4961 42.9522 43.3411 43.1458 43.1458C43.3411 42.9522 43.4961 42.7218 43.6019 42.4679C43.7076 42.214 43.7621 41.9417 43.7621 41.6667C43.7621 41.3917 43.7076 41.1194 43.6019 40.8655C43.4961 40.6116 43.3411 40.3812 43.1458 40.1875ZM10.4167 22.9167C10.4167 20.4444 11.1498 18.0277 12.5233 15.972C13.8968 13.9164 15.8491 12.3143 18.1331 11.3682C20.4172 10.4221 22.9305 10.1745 25.3553 10.6569C27.7801 11.1392 30.0074 12.3297 31.7555 14.0778C33.5037 15.826 34.6942 18.0533 35.1765 20.478C35.6588 22.9028 35.4113 25.4161 34.4652 27.7002C33.5191 29.9843 31.9169 31.9365 29.8613 33.31C27.8057 34.6836 25.3889 35.4167 22.9167 35.4167C19.6015 35.4167 16.422 34.0997 14.0778 31.7555C11.7336 29.4113 10.4167 26.2319 10.4167 22.9167Z" fill="#239273"/>
                    </svg>
                </button>
            </div>
            <div id="car">
                <button href="/carinho/index" onclick="location.href = '/Carrinho';">
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M43.9167 14.5833C43.5568 13.9596 43.0413 13.4399 42.4206 13.0747C41.7999 12.7096 41.0951 12.5116 40.3751 12.5H13.7084L12.5001 7.79167C12.378 7.33716 12.1056 6.93738 11.7273 6.65744C11.349 6.3775 10.8871 6.23389 10.4167 6.25H6.25008C5.69755 6.25 5.16764 6.46949 4.77694 6.8602C4.38624 7.2509 4.16675 7.7808 4.16675 8.33333C4.16675 8.88587 4.38624 9.41577 4.77694 9.80647C5.16764 10.1972 5.69755 10.4167 6.25008 10.4167H8.83341L14.5834 31.7917C14.7055 32.2462 14.9779 32.646 15.3562 32.9259C15.7345 33.2058 16.1964 33.3494 16.6667 33.3333H35.4167C35.8015 33.3322 36.1784 33.2245 36.5056 33.0222C36.8329 32.82 37.0978 32.5311 37.2709 32.1875L44.1042 18.5208C44.4004 17.9 44.5383 17.2156 44.5056 16.5285C44.4729 15.8415 44.2706 15.1732 43.9167 14.5833ZM34.1251 29.1667H18.2501L14.8542 16.6667H40.3751L34.1251 29.1667Z" fill="#239273"/>
                        <path d="M15.625 43.75C17.3509 43.75 18.75 42.3509 18.75 40.625C18.75 38.8991 17.3509 37.5 15.625 37.5C13.8991 37.5 12.5 38.8991 12.5 40.625C12.5 42.3509 13.8991 43.75 15.625 43.75Z" fill="#239273"/>
                        <path d="M36.4583 43.75C38.1841 43.75 39.5833 42.3509 39.5833 40.625C39.5833 38.8991 38.1841 37.5 36.4583 37.5C34.7324 37.5 33.3333 38.8991 33.3333 40.625C33.3333 42.3509 34.7324 43.75 36.4583 43.75Z" fill="#239273"/>
                    </svg>
                </button>
            </div>
            <div id="person">
                <button type="button" aria-label="account" onclick="location.href = '/LoginOrSignUp';">
                    <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24.9998 22.9167C26.648 22.9167 28.2592 22.4279 29.6296 21.5123C31 20.5966 32.0681 19.2951 32.6988 17.7724C33.3296 16.2497 33.4946 14.5741 33.173 12.9576C32.8515 11.3411 32.0578 9.85622 30.8924 8.69078C29.727 7.52534 28.2421 6.73167 26.6256 6.41013C25.0091 6.08858 23.3335 6.25361 21.8108 6.88434C20.2881 7.51507 18.9866 8.58318 18.0709 9.95359C17.1552 11.324 16.6665 12.9352 16.6665 14.5833C16.6665 16.7935 17.5445 18.9131 19.1073 20.4759C20.6701 22.0387 22.7897 22.9167 24.9998 22.9167Z" fill="#239273"/>
                        <path d="M37.5001 43.75C38.0526 43.75 38.5825 43.5305 38.9732 43.1398C39.3639 42.7491 39.5834 42.2192 39.5834 41.6667C39.5834 37.7989 38.047 34.0896 35.3121 31.3547C32.5771 28.6198 28.8678 27.0833 25.0001 27.0833C21.1323 27.0833 17.423 28.6198 14.6881 31.3547C11.9532 34.0896 10.4167 37.7989 10.4167 41.6667C10.4167 42.2192 10.6362 42.7491 11.0269 43.1398C11.4176 43.5305 11.9475 43.75 12.5001 43.75H37.5001Z" fill="#239273"/>
                    </svg>
                </button>
            </div>                    
        </div>
    </nav>
</header>