/*!*************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/assets/css/principal.css ***!
  \*************************************************************************************/
:root {
    --main-color: #239273;
    --second-color: #FBFBFB;
    --shadow-color: #0000004e;
    --active-color: #35DEAE;
    --back-load: #0e1538;
}

* {
    max-width: 100vw;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Nunito', sans-serif;
}

body {
    min-width: 350px;
}

button:hover {
    cursor: pointer;

    background-color: #175E4A;
}

button:active {
    background-color: var(--active-color);
}

#content-prin {
    display: none;
    padding-top: 7vh;
}
/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/assets/css/load.css ***!
  \********************************************************************************/
#load {
    width: 100%;
    height: 100vh;

    padding-top: 0px !important;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--back-load);
}

#carregando {
    position: relative;

    width: 500px;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.5);

    overflow: hidden;
    border-radius: 50%;
}

#carregando::before{
    content: "";
    position: absolute;

    height: 550px;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    background-color: var(--main-color);

   animation: animate 4s ease-in-out infinite;
}

#carregando::after{
    content: "";
    position: absolute;

    border-radius: 50%;

    inset: 5px;

    background-color: var(--back-load);
}

@keyframes animate{
    0%{
        width: 20px;
        transform: rotate(0deg);
    }

    25% {
        width: 50px;
    }

    50% {
        width: 200px;
    }

    75% {
        width: 50px;
    }

    100%{
        width: 20px;
        transform: rotate(360deg);
    }
}

/*!********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/assets/css/erro.css ***!
  \********************************************************************************/
#erro {
    width: 100%;
    height: 93vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#erro img{
    width: 50%;
    height: 50%;

    object-fit: cover;
}
/*!*****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/assets/css/loginorsignup.css ***!
  \*****************************************************************************************/
main{
    width: 100%;
    height: 93vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#formularios{
    width: 90%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

h2{
    margin-bottom: 40px;

    text-align: center;

    color: #000000;

    font-size: 2em;
}

h3 {
    font-size: 1em;
    font-weight: lighter;
}

.card{
    width: 40%;
    min-width: 380px;
    height: auto;

    padding: 30px 50px;

    background: var(--second-color);
    
    border-radius: 20px;
    box-shadow: 0 4px 4px var(--shadow-color);
}

.textfield{
    width: 100%;
    margin: 20px 0px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textfield > input {
    width: 100%;
    padding: 15px;
    

    border: 1px solid var(--main-color);
    border-radius: 20px;

    background-color: #ffffff;
    color: rgb(0, 0, 0);

    font-size: 12pt;

    outline: none;
}

.textfield :focus {
    border: 2px solid var(--active-color);
}

.textfield > label {
    margin-bottom: 5px;

    color: rgb(0, 0, 0);
}

.btn {
    width: 100%;
    padding: 15px;
    margin-top: 20px;

    border: none;
    border-radius: 20px;
    outline: none;

    font-size: 12pt;
    letter-spacing: 2px;

    color: white;
    background-color: var(--main-color);

    cursor: pointer;
}

#green img{ 
    width: 100%;
    height: 60%;

    position: absolute;

    top: 7vh;
    left: 0;

    z-index: -1;
}

@media (max-width: 999px) {
    main { 
        height: auto;
    }

    .card {
        margin-bottom: 50px;

        width: 70%;
    }

    main #formularios {
        margin-top: 50px;
    }
}

/*!**************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./frontend/assets/css/navigation.css ***!
  \**************************************************************************************/
header {
    width: 100vw;
    height: 7vh;

    position: fixed;

    top: 0;
}

#navegacao {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;

    transition: all 0.5s ease-in-out;
}

#logo, 
#options {
    margin: 0 50px;
}

#logo img {
    width: 50%;
    opacity: 0.6;

    transition: opacity 0.2s ease-in-out;
}

#logo img:hover {
    opacity: 1;
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#options a {
    position: relative;
    z-index: -1;
}

#options button {
    border: none;
    background: none;

    padding: 10px;

    transition: all 0.2s ease-out;
}

#options button:hover {
    border-radius: 50%;

    background-color: var(--main-color);
}

#options svg, 
#mobile_menu svg {
    width: 25px;
    height: 25px;

    vertical-align: middle;
}

#options svg path, 
#mobile_menu svg path{
    fill: var(--main-color);

    transition: fill 0.5s ease-in-out;
}

#options button:hover svg path {
    fill: white;
}

/*MOBILE*/
#mobile_menu {
    cursor: pointer;
    display: none;
}

#mobile_menu div {
    width: 32px;
    height: 2px;

    margin: 8px;

    background-color: #ffffff;
}

@media (max-width: 999px) {
    #mobile_menu {
        display: block;
        margin-right: 50px;
    }

    #mobile_menu button {
        border: none;
        background: none;
    
        padding: 10px;
    
        transition: all 0.2s ease-out;
    }

    #options {
        visibility: hidden;

        position: absolute;
        top: 7vh;
        right: 0;

        width: 100%;
        height: 50vh;

        margin: 0;

        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        background-color: #ffffff;

       transition: visibility 0.2s ease-in-out;
    }

    #options .active {
        background-color: #ffffff;

        transition: visibility 0.2s ease-in-out;
    }

    #options #search, #car, #person {
        width: 100%;
    }

    #options button {
        width: 100%;

        transition: none;
    }

    #options button:hover {
        border-radius: 0;

        cursor: pointer;
    
        background-color: var(--main-color);
    }

    #options button:active {
        background-color: var(--active-color);
    }

      #options button svg {
        width: 50px;
        height: 50px;

        vertical-align: middle;
    }
}

/*# sourceMappingURL=style.css.map*/