<%- include("includes/head")%>

<main id="admScreen">

    <article id="signBook" class="cardadm">
        <details>
        <summary><h2>Cadastro de livro</h2></summary>

            <form action="/adm/:id/RegisterBookComplete" method="post">
                <div class="gridColumn margin-center">
                    <!-- CAMPO PARA TITULO -->
                    <div class="textfield textfieldAdm">
                        <label>Título</label>
                        <input type="text" name="titulo" required>
                    </div>
                    <!-- FIM DOCAMPO PARA TITULO -->

                    <!-- CAMPO PARA AUTOR -->
                    <div class="textfield textfieldAdm">
                        <label>Autor</label>
                        <input type="text" name="autor" required>
                    </div>
                    <!-- FIM DO CAMPO PARA AUTOR -->

                    <!-- CAMPO PARA EDITORA -->
                    <div class="textfield textfieldAdm">
                        <label>Editora</label>
                        <input type="text" name="editora" required>
                    </div>
                    <!-- FIM DO CAMPO PARA EDITORA -->

                    <!-- CAMPO PARA PREÇO -->
                    <div class="textfield textfieldAdm">
                        <label>Preço</label>
                        <input type="number" name="preco" required>
                    </div>
                    <!-- FIM CAMPO PARA PREÇO -->

                    <!--  DO CAMPO PARA URL IMG -->
                    <div class="textfield textfieldAdm">
                        <label>URL da imagem</label>
                        <input type="url" name="urlImage" required>
                    </div>
                    <!-- FIM DO CAMPO PARA URL IMG -->

                    <!-- FIM DO CAMPO PARA URL IMG -->
                    <div class="textfield textfieldAdm">
                        <label>Data de lançamento</label>
                        <input type="date" name="dataLancamento" required>
                    </div>
                    <!-- FIM DO CAMPO PARA URL IMG -->

                    <!-- CAMPO PARA DESCRIÇÃO PRODUTO -->
                    <div class="textfield textfieldAdm">
                        <label>Descrição do produto</label>
                        <textarea name="descricaoProduto" rows="10" cols="50">
                            Resumo
                            Para um médico, o capitão Lemuel Gulliver é um grande aventureiro. Neste clássico da literatura, sabemos de quatro de 
                            suas prin-cipais viagens: a Lilipute, cujos habitantes não chegam a seis polegadas de altura; a Brobdingnag, cujo menor 
                            anão do reino tem nove metros de altura; a duas ilhas, uma voadora e outra de feiticeiros, além de uma academia com 
                            pesquisadores esqui-sitos; e, por fim, conhece os houyhnhnms, cavalos civilizados, e os yahoos, espécie de hominídeos 
                            selvagens.
                        </textarea required>
                    </div>
                    <!-- FIM DO CAMPO PARA DESCRIÇÃO PRODUTO -->

                    <!-- CAMPO PARA DETALHES DO PRODUTO -->
                    <div class="textfield textfieldAdm">
                        <label>Detalhes do produto</label>
                        <textarea name="detalheProduto" rows="10" cols="50">
                            Editora ‏ : ‎ FTD Educação; 1ª edição (31 outubro 2016)
                            Idioma ‏ : ‎ Português
                            Capa comum ‏ : ‎ 96 páginas
                            ISBN-10 ‏ : ‎ 8596004211
                            ISBN-13 ‏ : ‎ 978-8596004213
                            Dimensões ‏ : ‎ 26.2 x 19.2 x 1.2 cm
                        </textarea required> 
                    </div>
                    <!-- FIM DO CAMPO PARA DETALHES DO PRODUTO -->
                </div>

                <!-- ADICIONAR -->
                <button aria-label="adicionar livro" class="outline btn">Adicionar Livro</button>
                <!-- FIM DO ADICIONAR -->
            </form>
        </details>
    </article>

    <article id="editBook" class="cardadm">
        <details>
        <summary><h2>Edição de livro</h2></summary>

            <form action="/adm/:idEditBookComplete" method="post">
                <!-- CAMPO PARA TITULO -->
                <div class="textfield textfieldAdm">
                    <label>Id do livro</label>
                    <input type="text" name="Idlivro" required>
                </div>
                <!-- FIM DOCAMPO PARA TITULO -->

                <div class="gridColumn">
                    <!-- CAMPO PARA TITULO -->
                    <div class="textfield textfieldAdm">
                        <label>Título</label>
                        <input type="text" name="titulo" required>
                    </div>
                    <!-- FIM DOCAMPO PARA TITULO -->

                    <!-- CAMPO PARA AUTOR -->
                    <div class="textfield textfieldAdm">
                        <label>Autor</label>
                        <input type="text" name="autor" required>
                    </div>
                    <!-- FIM DO CAMPO PARA AUTOR -->

                    <!-- CAMPO PARA EDITORA -->
                    <div class="textfield textfieldAdm">
                        <label>Editora</label>
                        <input type="text" name="editora" required>
                    </div>
                    <!-- FIM DO CAMPO PARA EDITORA -->

                    <!-- CAMPO PARA PREÇO -->
                    <div class="textfield textfieldAdm">
                        <label>Preço</label>
                        <input type="number" name="preco" required>
                    </div>
                    <!-- FIM CAMPO PARA PREÇO -->

                    <!--  DO CAMPO PARA URL IMG -->
                    <div class="textfield textfieldAdm">
                        <label>URL da imagem</label>
                        <input type="url" name="urlImage" required>
                    </div>
                    <!-- FIM DO CAMPO PARA URL IMG -->

                    <!-- FIM DO CAMPO PARA URL IMG -->
                    <div class="textfield textfieldAdm">
                        <label>Data de lançamento</label>
                        <input type="date" name="dataLancamento" required>
                    </div>
                    <!-- FIM DO CAMPO PARA URL IMG -->

                    <!-- CAMPO PARA DESCRIÇÃO PRODUTO -->
                    <div class="textfield textfieldAdm">
                        <label>Descrição do produto</label>
                        <textarea name="descricaoProduto" rows="10" cols="50">
                            Resumo
                            Para um médico, o capitão Lemuel Gulliver é um grande aventureiro. Neste clássico da literatura, sabemos de quatro de 
                            suas prin-cipais viagens: a Lilipute, cujos habitantes não chegam a seis polegadas de altura; a Brobdingnag, cujo menor 
                            anão do reino tem nove metros de altura; a duas ilhas, uma voadora e outra de feiticeiros, além de uma academia com 
                            pesquisadores esqui-sitos; e, por fim, conhece os houyhnhnms, cavalos civilizados, e os yahoos, espécie de hominídeos 
                            selvagens.
                        </textarea required>
                    </div>
                    <!-- FIM DO CAMPO PARA DESCRIÇÃO PRODUTO -->

                    <!-- CAMPO PARA DETALHES DO PRODUTO -->
                    <div class="textfield textfieldAdm">
                        <label>Detalhes do produto</label>
                        <textarea name="detalheProduto" rows="10" cols="50">
                            Editora ‏ : ‎ FTD Educação; 1ª edição (31 outubro 2016)
                            Idioma ‏ : ‎ Português
                            Capa comum ‏ : ‎ 96 páginas
                            ISBN-10 ‏ : ‎ 8596004211
                            ISBN-13 ‏ : ‎ 978-8596004213
                            Dimensões ‏ : ‎ 26.2 x 19.2 x 1.2 cm
                        </textarea required> 
                    </div>
                    <!-- FIM DO CAMPO PARA DETALHES DO PRODUTO -->
                </div>

                <!-- ADICIONAR -->
                <button aria-label="adicionar livro" class="outline btn">Editar Livro</button>
                <!-- FIM DO ADICIONAR -->
            </form>
        </details>
    </article>

</main>

<%- include("includes/footer")%>