<%- include("includes/head")%>

<!-- MESSAGES -->
<%- include("includes/message")%>
<!-- FIM MESSAGES -->

<main class="contrato">
    <section>
        <h1><strong>LIVRARIA SABER</strong></h1>
        <h2><b>Política de Privacidade de Dados</b></h2>

        <div>
            <h4>Introdução</h4>
            <p>
                Este site é mantido e operado pela <strong>Livraria Saber.</strong>
            </p>
            <p>
                Nós coletamos e utilizamos alguns dados pessoais que pertencem àqueles que utilizam nosso site. Ao fazê-lo, agimos na 
                qualidade desses dados e estamos sujeitos às disposições da Lei Federal n. 13.709/2018 <b>(Lei Geral de Proteção de Dados 
                Pessoais - LGPD).</b>
            </p>
            <p>
                Nós cuidamos da proteção de seus dados pessoais e, por isso, disponibilizamos esta política de proteção de dados e 
                privacidade, que contém informações importantes sobre:
            </p>
            <ul>
                <li>Quem deve utilizar nosso site;</li>
                <li>Quais dados coletamos e o que fazemos com eles;</li>
                <li>Seus direitos em relação aos seus dados pessoais;</li>
                <li>Como entrar em contato conosco.</li>
            </ul>
        </div>

        <div>
            <h4>1. Dados que coletamos e motivos da coleta</h4>
            <p>Nosso site coleta e utiliza alguns dados pessoais de nossos usuários, de acordo com o disposto nesta seção.</p>

            <h4>2. Dados pessoais fornecidos expressamente pelo usuário</h4>
            <p>Nós coletamos os seguintes dados pessoais que nossos usuários nos fornecem expressamente ao utilizar nosso site:</p>
            <ul>
                <li>Nome Completo;</li>
                <li>Endereço de e-mail;</li>
                <li>Endereço;</li>
                <li>Data de Nascimento;</li>
                <li>Informações de pagamento.</li>
            </ul>
            <p>A coleta destes dados ocorre nos seguintes momentos:</p>
            <ul>
                <li>Quando Faz Cadastro no Site;</li>
                <li>Quando Faz uma compra;</li>
            </ul>
            <p>Os dados fornecidos por nossos usuários são coletados com as seguintes finalidades:</p>
            <ul>
                <li>Para que o usuário possa adquirir nossos produtos e serviços;</li>
                <li>Para se cadastrar em nossa plataforma de serviço;</li>
                <li>Para que nós possamos enviar nossos produtos para usuários cadastrados.</li>
            </ul>
        </div>

        <div>
            <h4>3. Dados sensíveis</h4>
            <p>Não serão coletados dados sensíveis de nossos usuários, assim entendidos aqueles definidos nos arts. 
                11 e seguintes da <b> de Proteção de Dados Pessoais</b>. Assim, <b>não</b> haverá coleta de dados sobre origem racial ou étnica, 
                convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, 
                dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural.
            </p>
        </div>

        <div>
            <h4>4. Cookies</h4>
            <p>       
                <b>Cookies</b> são pequenos arquivos de texto baixados automaticamente em seu dispositivo quando você acessa e navega por um site. 
                Eles servem, basicamente, para que seja possível identificar dispositivos, atividades e preferências de usuários.
            </p>
            <p>
                Os cookies não permitem que qualquer arquivo ou informação sejam extraídos do disco rígido do usuário, não sendo possível, 
                ainda, que, por meio deles, se tenha acesso a informações pessoais que não tenham partido do usuário ou da forma como 
                utiliza os recursos do site.
            </p>

            <h5>4.1. Cookies do site</h5>
            <p>Os cookies do site são aqueles enviados ao computador ou dispositivo do usuário e administrador exclusivamente pelo site.</p>
            <p>As informações coletadas por meio destes cookies são utilizadas para melhorar e personalizar a experiência do usuário, sendo que alguns cookies podem, por exemplo, ser utilizados para lembrar as preferências e escolhas do usuário, bem como para o oferecimento de conteúdo personalizado.</p>
            
            <h5>4.2. Gestão de cookies</h5>
            <p>O usuário poderá se opor à utilização de cookies pelo site, bastando que os desative no momento em que começa a utilizar o serviço, seguindo as seguintes instruções:</p>
            <p>Assim que entrar no site o usuário terá a opção de bloquear ou permitir a utilização dos cookies, bastando que selecione a opção em uma caixa de diálogo (pop up) carregada automaticamente assim que a o site é acessado</p>
            <p> Ao desativar os cookies, é importante ter em mente que a experiência do usuário poderá ser prejudicada, uma vez que informações utilizadas para personalizá-la deixarão de ser utilizadas.</p>

            <h5>4.3 Coleta de dados não previstos expressamente</h5>
            <p>Eventualmente, outros tipos de dados não previstos expressamente nesta Política de Proteção de Dados e Privacidade poderão ser coletados, desde que sejam fornecidos com o consentimento do usuário, ou, ainda, que a coleta seja permitida com fundamento em outra base legal prevista em lei.</p>
            <p>Em qualquer caso, a coleta de dados e as atividades de tratamento dela decorrentes serão informadas aos usuários do site.</p>
        </div>

        <div>
            <h4>5. Compartilhamento de dados pessoais com terceiros</h4>
            <p>Nós não compartilhamos seus dados pessoais com terceiros. Apesar disso, é possível que o façamos para cumprir alguma determinação legal ou regulatória, para cumprir alguma ordem expedida por autoridade pública.</p>

        </div>

        <div>
            <h4>6. Armazenamento e exclusão dos dados</h4>
            <p>Os dados pessoais que coletamos serão armazenados e utilizados pelos seguintes períodos de tempo:</p>
            <p>Os dados serão armazenados por 5 (cinco) anos.</p>
            <p>Os períodos informados não são superiores ao estritamente necessário, atendendo às finalidades e às justificativas legais para o tratamento dos dados.</p>
            <p>Vale dizer que, se houver alguma justificativa legal ou regulatória, os dados poderão continuar armazenados ainda que a finalidade para a qual foram coletados ou tenham sido tratados tenha se exaurido.</p>
            <p>Uma vez finalizado o tratamento, observadas as disposições desta seção, os dados são apagados ou anonimizados.</p>
            <p>É possível que o usuário solicite a correção ou exclusão de suas informações fornecidas (respeitadas as hipóteses de preservação dos dados).</p>
        </div>

        <div>
            <h4>7. Bases legais para o tratamento de dados pessoais</h4>
            <p>Cada operação de tratamento de dados pessoais precisa ter um fundamento jurídico, ou seja, uma base legal, que nada mais é que uma justificativa que a autorize, prevista na <b>Lei Geral de Proteção de Dados Pessoais.</b></p>
            <p>Todas as nossas atividades de tratamento de dados pessoais possuem uma base legal que as fundamenta, dentre as permitidas pela legislação. Mais informações sobre as bases legais que utilizamos para operações de tratamento de dados pessoais específicas podem ser obtidas a partir de nossos canais de contato, informados ao final desta Política.</p>
        </div>

        <div>
            <h4>8. Como o titular pode exercer seus direitos</h4>
            <p>Para garantir que o usuário que pretende exercer seus direitos é, de fato, o titular dos dados pessoais objeto da requisição, poderemos solicitar documentos ou outras informações que possam auxiliar em sua correta identificação, a fim de resguardar nossos direitos e os direitos de terceiros. Isto somente será feito, porém, se for absolutamente necessário, e o requerente receberá todas as informações relacionadas.</p>
        </div>

        <div>
            <h4>9. Medidas de segurança no tratamento de dados pessoais</h4>
            <p>Empregamos medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição, perda, extravio ou alteração desses dados.</p>
            <p>As medidas que utilizamos levam em consideração a natureza dos dados, o contexto e a finalidade do tratamento, os riscos que uma eventual violação geraria para os direitos e liberdades do usuário, e os padrões atualmente empregados no mercado por empresas semelhantes à nossa.</p>
            <p>Entre as medidas de segurança adotadas por nós, destacamos as seguintes:</p>

            <ul>
                <li>Armazenamento de senhas utilizando hashes criptográficos;</li>
                <li>Restrições de acesso ao banco de dados;</li>
                <li>Monitoramento de acesso, físico ou pela rede, de nossos servidores e Data Center;</li>
                <li>Realização de backups regulares;</li>
                <li>Manter antivírus e sistemas de firewall atualizados e operantes;</li>
                <li>Evitando transferência de dados para outros dispositivos se não os da empresa.</li>
            </ul>

            <p> Ainda que adote tudo o que está ao seu alcance para evitar incidentes de segurança, é possível que ocorra algum problema motivado exclusivamente por um terceiro - como em caso de ataques de hackers ou crackers ou, ainda, em caso de culpa exclusiva do usuário, que ocorre, por exemplo, quando ele mesmo transfere seus dados a terceiro. Assim, embora sejamos, em geral, responsáveis pelos dados pessoais que tratamos, nos eximimos de responsabilidade caso ocorra uma situação excepcional como essas, sobre as quais não temos nenhum tipo de controle.</p>
            <p>De qualquer forma, caso ocorra qualquer tipo de incidente de segurança que possa gerar risco ou dano relevante para qualquer de nossos usuários, comunicaremos os afetados e a Autoridade Nacional de Proteção de Dados acerca do ocorrido, em conformidade com o disposto na <b>Lei Geral de Proteção de Dados.</b></p>
        </div>

        <div>
            <h4>10. Alterações nesta política</h4>
            <p> A presente versão desta Política de Privacidade foi atualizada pela última vez em: <strong>/10/2022</strong></p>
            <p>Reservamo-nos o direito de modificar, a qualquer momento, as presentes normas, especialmente para adaptá-las às eventuais alterações feitas em nosso site, seja pela disponibilização de novas funcionalidades, seja pela supressão ou modificação daquelas já existentes.</p>
            <p>Sempre que houver uma modificação, nossos usuários serão notificados acerca da mudança.</p>
        </div>

        <div>
            <h4>11 . Como entrar em contato conosco</h4>
            <p>Para esclarecer quaisquer dúvidas sobre esta Política de Proteção de Dados e Privacidade ou sobre os dados pessoais que tratamos, entre em contato com nosso Encarregado de Proteção de Dados Pessoais, por algum dos canais mencionados abaixo:</p>
            <ul>
                <li>E-mail: security@saber.com.br     </li>
                <li>Telefone: 4002-8922     </li>
                <li>Endereço postal: Rodovia BR 101, km 197, Capoeiruçu, Cachoeira - BA, 44300-000.     </li>
            </ul>
        </div>
    </section>
</main>

<%- include("includes/footer")%>