<%- include("includes/head")%>

    <div id="erro">
        <img src="/assets/images/image_erro.png" alt="">

        <div>
            <h2>Erro de URL</h2>
            <p>rota <%-url%> não encontrada!</p>
        </div>
    </div>

<%- include("includes/footer")%>