<%- include("includes/head")%>

<!-- FUNDO VERDE -->
<div id="limit-home">
    <div class="quadrado"></div>
</div>
<!-- FIM DO FUNDO VERDE -->

<div id="main-slider-limit" class="universal-slider flex-center">
    <!-- SETA DA ESQUERDA DO SLIDER PRINCIPAL -->
    <div id="" class="arrow-left flex-center main-carousel-control left">
        <button aria-label="Previous" class="glider-prev">
            <svg width="25" height="25" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M106.163 141.022C102.46 141.027 98.8686 139.756 95.9927 137.424L56.0957 104.489C54.5312 103.244 53.2677 101.661 52.3993 99.8599C51.5308 98.0586 51.0798 96.0845 51.0798 94.0847C51.0798 92.0849 51.5308 90.1109 52.3993 88.3095C53.2677 86.5081 54.5312 84.9257 56.0957 83.6802L95.9927 50.7456C98.3946 48.8211 101.289 47.6101 104.346 47.2505C107.402 46.8909 110.498 47.3972 113.281 48.7117C115.7 49.7778 117.761 51.5175 119.217 53.7232C120.674 55.9288 121.465 58.5071 121.496 61.1501V127.019C121.465 129.662 120.674 132.241 119.217 134.446C117.761 136.652 115.7 138.392 113.281 139.458C111.045 140.475 108.619 141.008 106.163 141.022V141.022Z" fill="#ffffff"/>
            </svg>
        </button>
    </div>
    <!-- FIM DA SETA DA ESQUERDA DO SLIDER PRINCIPAL -->

    <!-- CONTEUDO DO SLIDER PRINCIPAL -->
    <article class="universal-slider-contents flex-center">

        <div class="main_carousel_slides flex-center">
            <div class="main-slide current-item">
                <figure class="main-slider-img">
                    <img src="/assets/images/v_guliver.jpg" width="250px" alt="Imagem da capa do livor">
                </figure>

                    <h1 class="main-slider-title">Viagens de Gulliver 1</h1>

                    <p class="main-slider-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis corporis tenetur qui voluptatum 
                        voluptatibus architecto reprehenderit iure eaque, repellat assumenda suscipit, quibusdam repudiandae
                        consequuntur accusantium ducimus, amet optio fugiat quaerat?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel doloribus laborum reprehenderit. Eum, 
                        possimus obcaecati nisi placeat, aperiam expedita modi, molestiae quo enim quae deserunt consequatur 
                        voluptatum necessitatibus consectetur a?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ab, molestiae illum libero provident
                        mollitia omnis blanditiis delectus consequatur obcaecati magnam assumenda, quia soluta perspiciatis, 
                        pariatur eum iste ex vel.
                    </p>
            </div>

            <div class="main-slide">
                <figure class="main-slider-img">
                    <img src="/assets/images/v_guliver.jpg" width="250px" alt="Imagem da capa do livor">
                </figure>

                    <h1 class="main-slider-title">Viagens de Gulliver 2</h1>

                    <p class="main-slider-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis corporis tenetur qui voluptatum 
                        voluptatibus architecto reprehenderit iure eaque, repellat assumenda suscipit, quibusdam repudiandae
                        consequuntur accusantium ducimus, amet optio fugiat quaerat?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel doloribus laborum reprehenderit. Eum, 
                        possimus obcaecati nisi placeat, aperiam expedita modi, molestiae quo enim quae deserunt consequatur 
                        voluptatum necessitatibus consectetur a?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ab, molestiae illum libero provident
                        mollitia omnis blanditiis delectus consequatur obcaecati magnam assumenda, quia soluta perspiciatis, 
                        pariatur eum iste ex vel.
                    </p>
            </div>

            <div class="main-slide">
                <figure class="main-slider-img">
                    <img src="/assets/images/v_guliver.jpg" width="250px" alt="Imagem da capa do livor">
                </figure>

                    <h1 class="main-slider-title">Viagens de Gulliver 3</h1>

                    <p class="main-slider-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis corporis tenetur qui voluptatum 
                        voluptatibus architecto reprehenderit iure eaque, repellat assumenda suscipit, quibusdam repudiandae
                        consequuntur accusantium ducimus, amet optio fugiat quaerat?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel doloribus laborum reprehenderit. Eum, 
                        possimus obcaecati nisi placeat, aperiam expedita modi, molestiae quo enim quae deserunt consequatur 
                        voluptatum necessitatibus consectetur a?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ab, molestiae illum libero provident
                        mollitia omnis blanditiis delectus consequatur obcaecati magnam assumenda, quia soluta perspiciatis, 
                        pariatur eum iste ex vel.
                    </p>
            </div>
        
    </article>
    <!-- FIM DO CONTEUDO DO SLIDER PRINCIPAL -->

    <!-- SETA DA DIREITA DO SLIDER PRINCIPAL -->
    <div id="arrow-right" class="arrow-right flex-center main-carousel-control">
        <button aria-label="Next" class="glider-next">
            <svg width="25" height="25" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M106.163 141.022C102.46 141.027 98.8686 139.756 95.9927 137.424L56.0957 104.489C54.5312 103.244 53.2677 101.661 52.3993 99.8599C51.5308 98.0586 51.0798 96.0845 51.0798 94.0847C51.0798 92.0849 51.5308 90.1109 52.3993 88.3095C53.2677 86.5081 54.5312 84.9257 56.0957 83.6802L95.9927 50.7456C98.3946 48.8211 101.289 47.6101 104.346 47.2505C107.402 46.8909 110.498 47.3972 113.281 48.7117C115.7 49.7778 117.761 51.5175 119.217 53.7232C120.674 55.9288 121.465 58.5071 121.496 61.1501V127.019C121.465 129.662 120.674 132.241 119.217 134.446C117.761 136.652 115.7 138.392 113.281 139.458C111.045 140.475 108.619 141.008 106.163 141.022V141.022Z" fill="#ffffff"/>
            </svg>
        </button>
    </div>
    <!-- FIM DA SETA DA DIREITA DO SLIDER PRINCIPAL -->
</div>

<!-- SETA PARA BAIXO -->
<div id="arrow_bottom">
    <a href = "/">
        <svg width="25" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M25 0C11.1929 0 0 11.1929 0 25C0 38.8071 11.1929 50 25 50C38.8071 50 50 38.8071 50 25C50 11.1929 38.8071 0 25 0ZM40.3206 40.3206C36.5217 44.1082 31.4487 46.3458 26.0902 46.5973C20.7316 46.8489 15.4713 45.0964 11.3343 41.6813C7.19727 38.2663 4.47986 33.4334 3.71155 28.1242C2.94324 22.815 4.17907 17.41 7.17825 12.9623C10.1774 8.51452 14.7251 5.34269 19.9351 4.06482C25.1452 2.78694 30.6443 3.49456 35.3612 6.04979C40.078 8.60502 43.6745 12.8248 45.45 17.8869C47.2254 22.9491 47.0527 28.4909 44.9653 33.4326C43.8774 36.0076 42.3 38.3468 40.3206 40.3206Z" fill="black"/>
            <path d="M24.9733 36.9932C24.4069 36.9945 23.8579 36.7622 23.4218 36.3364L8.87579 22.0581C8.38071 21.5734 8.06936 20.8769 8.01026 20.1217C7.95115 19.3666 8.14913 18.6148 8.56063 18.0316C8.97213 17.4484 9.56345 17.0817 10.2045 17.0121C10.8456 16.9425 11.4838 17.1757 11.9789 17.6604L24.9733 30.4538L37.9677 18.1173C38.2157 17.8801 38.501 17.7029 38.8073 17.596C39.1136 17.4892 39.4348 17.4546 39.7525 17.4944C40.0701 17.5342 40.378 17.6476 40.6583 17.828C40.9387 18.0084 41.186 18.2523 41.386 18.5456C41.6081 18.8393 41.7762 19.1837 41.8799 19.5575C41.9837 19.9312 42.0208 20.3261 41.9889 20.7175C41.9571 21.1089 41.8569 21.4884 41.6948 21.8321C41.5326 22.1758 41.312 22.4763 41.0466 22.7149L26.5007 36.5078C26.052 36.8662 25.5142 37.0371 24.9733 36.9932V36.9932Z" fill="#231F20"/>
        </svg>   
    </a>     
</div>
<!-- FIM DA SETA PARA BAIXO -->

<!-- OUTROS SLIDERS -->
<main id="other-slider-limit">
    <!-- LIMITE DO BEST SLIDER -->
    <section id="" class="other-slider-box">
        <!-- SETA DA ESQUERDA DO SLIDER BEST -->
        <div class=" arrow-left flex-center best-carousel-control left">
            <button aria-label="Previous" class="glider-prev">
                <svg width="25" height="25" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M106.163 141.022C102.46 141.027 98.8686 139.756 95.9927 137.424L56.0957 104.489C54.5312 103.244 53.2677 101.661 52.3993 99.8599C51.5308 98.0586 51.0798 96.0845 51.0798 94.0847C51.0798 92.0849 51.5308 90.1109 52.3993 88.3095C53.2677 86.5081 54.5312 84.9257 56.0957 83.6802L95.9927 50.7456C98.3946 48.8211 101.289 47.6101 104.346 47.2505C107.402 46.8909 110.498 47.3972 113.281 48.7117C115.7 49.7778 117.761 51.5175 119.217 53.7232C120.674 55.9288 121.465 58.5071 121.496 61.1501V127.019C121.465 129.662 120.674 132.241 119.217 134.446C117.761 136.652 115.7 138.392 113.281 139.458C111.045 140.475 108.619 141.008 106.163 141.022V141.022Z" fill="#231F20"/>
                </svg>
            </button>
        </div>
        <!-- FIM DA SETA DA ESQUERDA DO SLIDER BEST -->

        <h2>Melhores Books</h2>

        <!-- SETA DA DIREITA DO SLIDER BEST -->
        <div class="arrow-right best-carousel-control flex-center">
            <button aria-label="Next" class="glider-next">
                <svg width="25" height="25" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M106.163 141.022C102.46 141.027 98.8686 139.756 95.9927 137.424L56.0957 104.489C54.5312 103.244 53.2677 101.661 52.3993 99.8599C51.5308 98.0586 51.0798 96.0845 51.0798 94.0847C51.0798 92.0849 51.5308 90.1109 52.3993 88.3095C53.2677 86.5081 54.5312 84.9257 56.0957 83.6802L95.9927 50.7456C98.3946 48.8211 101.289 47.6101 104.346 47.2505C107.402 46.8909 110.498 47.3972 113.281 48.7117C115.7 49.7778 117.761 51.5175 119.217 53.7232C120.674 55.9288 121.465 58.5071 121.496 61.1501V127.019C121.465 129.662 120.674 132.241 119.217 134.446C117.761 136.652 115.7 138.392 113.281 139.458C111.045 140.475 108.619 141.008 106.163 141.022V141.022Z" fill="#231F20"/>
                </svg>
            </button>
        </div>
        <!-- FIM DA SETA DA DIREITA DO SLIDER BEST -->

        <div id="best-slider-limit" class="universal-slider other-slider-limit flex-center">
            <!-- SLIDER BEST -->
            <article id="" class="universal-slider-contents other-slider-contents flex-center">

                    <%for(let i = 0; i < 14; i++) {%>
                        <a href="/Carrinho">
                            <div id="best-slider" class="other-slider flex-center">
                                
                                <figure class="other-slider-img flex-center">
                                    <img src="/assets/images/v_guliver.jpg" width="250px" alt="Imagem da capa do livor">
                                </figure>
                                
                                <h4 class="other-slider-title">Viagens de Gulliver <%=i%></h4>
                            </div>
                        </a>
                    <%}%>

            </article>
            <!-- FIM DO SLIDER BEST -->
        </div>

    </section>
    <!-- FIM DO LIMITE DO BEST SLIDER -->

    <!-- LIMITE DO BEST AVALIABLE SLIDER -->
    <section id="" class="other-slider-box">
        <!-- SETA DA ESQUERDA DO SLIDER BEST AVALIABLE -->
        <div class=" arrow-left flex-center bestAvaliable-carousel-control left">
            <button aria-label="Previous" class="glider-prev">
                <svg width="25" height="25" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M106.163 141.022C102.46 141.027 98.8686 139.756 95.9927 137.424L56.0957 104.489C54.5312 103.244 53.2677 101.661 52.3993 99.8599C51.5308 98.0586 51.0798 96.0845 51.0798 94.0847C51.0798 92.0849 51.5308 90.1109 52.3993 88.3095C53.2677 86.5081 54.5312 84.9257 56.0957 83.6802L95.9927 50.7456C98.3946 48.8211 101.289 47.6101 104.346 47.2505C107.402 46.8909 110.498 47.3972 113.281 48.7117C115.7 49.7778 117.761 51.5175 119.217 53.7232C120.674 55.9288 121.465 58.5071 121.496 61.1501V127.019C121.465 129.662 120.674 132.241 119.217 134.446C117.761 136.652 115.7 138.392 113.281 139.458C111.045 140.475 108.619 141.008 106.163 141.022V141.022Z" fill="#231F20"/>
                </svg>
            </button>
        </div>
        <!-- FIM DA SETA DA ESQUERDA DO SLIDER BEST AVALIABLE -->

        <h2>Bens Avaliados</h2>

        <!-- SETA DA DIREITA DO SLIDER BEST AVALIABLE -->
        <div class="arrow-right bestAvaliable-carousel-control flex-center">
            <button aria-label="Next" class="glider-next">
                <svg width="25" height="25" viewBox="0 0 188 188" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M106.163 141.022C102.46 141.027 98.8686 139.756 95.9927 137.424L56.0957 104.489C54.5312 103.244 53.2677 101.661 52.3993 99.8599C51.5308 98.0586 51.0798 96.0845 51.0798 94.0847C51.0798 92.0849 51.5308 90.1109 52.3993 88.3095C53.2677 86.5081 54.5312 84.9257 56.0957 83.6802L95.9927 50.7456C98.3946 48.8211 101.289 47.6101 104.346 47.2505C107.402 46.8909 110.498 47.3972 113.281 48.7117C115.7 49.7778 117.761 51.5175 119.217 53.7232C120.674 55.9288 121.465 58.5071 121.496 61.1501V127.019C121.465 129.662 120.674 132.241 119.217 134.446C117.761 136.652 115.7 138.392 113.281 139.458C111.045 140.475 108.619 141.008 106.163 141.022V141.022Z" fill="#231F20"/>
                </svg>
            </button>
        </div>
        <!-- FIM DA SETA DA DIREITA DO SLIDER BEST AVALIABLE -->

        <div id="bestAvaliable-slider-limit" class="universal-slider other-slider-limit flex-center">
            <!-- SLIDER BEST AVALIABLE -->
            <article id="" class="universal-slider-contents other-slider-contents flex-center">

                    <%for(let i = 0; i < 14; i++) {%>
                        <a href="/Carrinho">
                            <div id="bestAvaliable-slider" class="other-slider flex-center">
                                <figure class="other-slider-img flex-center">
                                    <img src="/assets/images/v_guliver.jpg" width="250px" alt="Imagem da capa do livor">
                                </figure>
                                
                                <h4 class="other-slider-title">Viagens de Gulliver <%=i%></h4>
                            </div>
                        </a>
                    <%}%>

            </article>
            <!-- FIM DO SLIDER BEST AVALIABLE -->
        </div>

    </section>
    <!-- FIM DO LIMITE DO BEST AVALIABLE SLIDER -->

</main>
<!-- FIM DOS OUTROS SLIDERS -->
<%- include("includes/footer")%>

