<%- include("includes/head")%>

<!-- FUNDO VERDE -->
<div class="limit-home">
    <div class="quadrado"></div>
</div>
<!-- FIM DO FUNDO VERDE -->

<!-- MESSAGES -->
<%- include("includes/message")%>
<!-- FIM MESSAGES -->

<main id="search-tal">
    <%- include("includes/post")%>
</main>

<%- include("includes/footer")%>